{{ define "ASIDE2" }}
<aside>
    <a href="/"><i class="fas fa-home"></i> <span> Home</span></a>
    <a href="/create_post"><i class="fas fa-plus"></i> <span> Create Post</span></a>
    <a href="/myposts"><i class="fas fa-user"></i> <span> My Posts</span></a>
    <a href="/likedposts"><i class="fas fa-heart"></i> <span> Liked Posts</span></a>
    <a href="/categorizePost"><i class="fas fa-tags"></i> <span> Categories</span></a>
    <a href="/filterPost"><i class="fas fa-filter"></i> <span> Filter</span></a>
</aside>
{{ end }}