{{ define "ASIDE2" }}
<aside>
    <div class="links-section">
        <a href="/"><i class="fas fa-home"></i>  Home</a>
        <a href="/create_post"><i class="fas fa-plus"></i>  Create Post</a>
        <a href="/myposts"><i class="fas fa-user"></i>  My Posts</a>
        <a href="/likedposts"><i class="fas fa-heart"></i>  Liked Posts</a>
    </div>
    <div>
        <h2 class="filter-header"><i class="fas fa-filter"></i> Filter By:</h2>
        <div class="filter-section">
            <h3>Catecories:</h3>
            <div class="categories">
               <form action="filter_by_categorie" method="GET">
                <input type="checkbox" id="tech" name="categorie" value="tech">
                <label for="tech"><i class="fas fa-tags"></i> Tech</label>
                <input type="checkbox" id="gaming" name="categorie" value="gaming" >
                <label for="gaming" ><i class="fas fa-tags"></i> Gaming</label>
                <input type="checkbox" id="movies" name="categorie" value="movies">
                <label for="movies"><i class="fas fa-tags"></i> Movies</label>
                <input type="checkbox" id="music" name="categorie" value="music">
                <label for="music"><i class="fas fa-tags"></i> Music</label>
                <button type="submit" class="filter">Filter</button>
               </form>
            </div>
        </div>
    </div>
   
</aside>
{{ end }}