{{ define "HEADER" }}
    <h1><a href="/">Forum</a></h1>
    {{ if .User.IsLoged }}
    <div class="profile">
        <button class="sign-btns add-post"><a href="/create_post"><i class="fas fa-plus"></i>  Add Post</a></button>
        <div class="user-profile">
            <input type="checkbox" id="profile" name="profile" hidden>
            <label for="profile"> <img src="../static/images/person.svg" alt="user avatar"></label>
            <div class="under-profile" >
                {{ template "UNDERPROFILE" }}
            </div> 
        </div>
    </div>
    {{ else }}
    <div class="register">
        <button class="sign-btns"><a href="/sign_in">sign-in</a></button>
        <button class="sign-btns"><a href="/sign_up">sign-up</a></button>
    </div>
    {{ end }}
{{ end }}