{{ define "HEADER2" }}
<header>
    <h1><a href="/">Forum</a></h1>
    {{ if .IsLoged}}
    <div class="avatar">
        <img src="../static/images/person.svg"
            alt="user avatar">
            <button class="sign-in"><a href="/create_post">Add Post</a></button>
    </div>
    {{ else }}
    <div class="register">
        <button class="sign-in"><a href="/sign_in">sign-in</a></button>
        <button class="sign-up"><a href="/sign_up">sign-up</a></button>
    </div>
    {{ end }}
</header>
{{ end }}