{{ define "HEADER" }}
    <h1><a href="/">Forum</a></h1>
    {{ if .User.IsLoged }}
    <div class="profile">
        <button class="sign-in-btn"><a href="/create_post"><i class="fas fa-plus"></i>  Add Post</a></button>
        <button class="sign-up-btn"><a href="/log_out"><i class="fa-solid fa-right-from-bracket"></i> Log Out</a> </button>
        <img src="../static/images/person.svg" alt="user avatar" style="display: none;">
    </div>
    {{ else }}
    <div class="register">
        <button class="sign-in-btn"><a href="/sign_in">sign-in</a></button>
        <button class="sign-up-btn"><a href="/sign_up">sign-up</a></button>
    </div>
    {{ end }}
{{ end }}