{{ define "POST" }}
<div class="post-container">
    <div class="profile">
        <img src="profile-pic-url.jpg" alt="Profile Picture">
        <div class="profile-info">
            <span class="username">User  Name</span>
            <span class="post-time">Time</span>
        </div>
    </div>
    <div class="post-categories">
    <span class="category">Category 1</span>, <span class="category">Category 2</span>
    </div>
    <div class="post-title">
        <h2> {{ .PostTitle }}</h2>
    </div>
    <div class="post-content">
        <p>{{ .PostContent }}</p>
    </div>
    <div class="comment-section">
        <input type="text" class="comment-input" placeholder="Add a comment...">
        <button class="submit-comment">Submit</button>
    </div>
    <div class="post-actions">
        
        <div class="likes">
            <button><i class="fas fa-thumbs-up"></i> 100</button>
        </div>
        <div class="dislikes">
            <button><i class="fas fa-thumbs-down"></i> 52</button>
        </div>
        <div class="comments">
            <button><i class="fas fa-comment"></i> 12</button>
        </div>
    </div>
   
</div>
{{ end }}