{{ define "POST" }}
<div class="post">
    <div class="profile">
        <img src="../static/images/avatarImg.jpeg" alt="Profile Picture">
        <div class="profile-info">
            <h4 class="username">{{ .PostCreator }}</h4>
            <h6 class="post-time">{{ .PostCreatedAt }}</h6>
        </div>
    </div>
    <div class="post-categories">
    <span class="category">Category 1</span>, <span class="category">Category 2</span>
    </div>
    <div class="post-title">
        <h2> {{ .PostTitle }}</h2>
    </div>
    <div class="post-content">
        <p>{{ .PostContent }}</p>
    </div>
    <div class="comment-section">
        <input type="text" class="comment-input" placeholder="Add a comment...">
    </div>
    <div class="post-actions">
        <div class="likes">
            <button class="sign-btns"><i class="fas fa-thumbs-up"></i> {{ .TotalLikes }}</button>
            <button class="sign-btns"><i class="fas fa-thumbs-down"></i> {{ .TotalDeslikes }}</button>
            <button class="sign-btns"><i class="fas fa-comment"></i>{{ .TotalComments }}</button>
        </div>
        <div class="comments">
            <button class="sign-btns">Submit</button>
        </div>
    </div>
   
</div>
{{ end }}