{{ define "SIGNUP" }}
<div class="form-container">
    <h2>Sign Up</h2>
    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="userName" name="userName" required>
        
        <label for="email">Email:</label>
        <input type="email" id="userEmail" name="userEmail" required>
        
        <label for="password">Password:</label>
        <input type="password" id="userPassword" name="userPassword" required>
        
        <button type="submit" class="btn">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/sign_in">Sign In</a></p>
</div>
{{ end }}