.form-container {
    background-color: #0000001a;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 10px slategray;
    width: 50%;
    text-align: center;
    height: fit-content;
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        width: 95%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 4px;
        background-color: #333;
        color: #E0E0E0;
    }
  }

  .postContent {
    width: 97%;
    background-color: #f0ffffb3;
}


.craetepost-btn {
    width: 100%;
    background-color: rgb(88, 153, 82);
    color: #000000;
    padding: 10px;
    margin-top: 5px;
}