  /* Responsive Design */
  @media (max-width: 768px) {
    main {
      grid-template-columns: 1fr;
    }
  
    header {
      flex-wrap: wrap;
      text-align: center;
    }
  
    header .profile {
      justify-content: center;
    }
  
    aside .links-section a,
    aside .categories label {
      font-size: 1rem;
    }
  }