@import url("header.css");
@import url("aside.css");
@import url("posts.css");
@import url("profile.css");
@import url("createPost.css");
@import url("login.css");
@import url("footer.css");
@import url("mediaQuery.css");

/*
lets set our main colors as global variables
*/
:root {
  --primary-black: #0B0B0B;
  --pure-white: #FFFFFF;
  --emerald-green: #2ECC71;
  --mint-green: #A5D6A7;
  --charcoal-gray: #333333;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--primary-black);
  color: var(--pure-white);
  margin: 0;
}


/* Layout Styles */
main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
  height: 90vh;
}





/* Responsive Design */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    gap: 2px;
  }

  header {
    flex-wrap: wrap;
    text-align: center;
  }

  header .profile {
    justify-content: center;
  }

  header .profile .add-post {
    display: none;
  }
  aside .small-add-post {
    display: inline-block;
    position: absolute;
    top: 126px;
    right: 30px;
    z-index: 5;
  }
  header .under-profile{
    text-align: start;
   
  }

  aside .links-section a,
  aside .categories label {
    font-size: 1rem;
  }

  aside .btns{
    display: block;
    button {
      color: #ffffff;
    }
    
  }

  aside {
    height: fit-content;
  }

  aside .burger-btn {
    display: block;
    width: fit-content;
  }
  aside .btns {
    width: fit-content;
  }

  /* Hide the links and filter sections by default */
  .links-section,
  .filter-section {
    display: none;
  }

  /* Show the links-section and filter-section when the checkbox is checked */
  #show-links:checked~.links-section,
  #show-links:checked~.filter-section {
    display: block;
  }
  .post-container {
    margin-top: 2%;
  }
  .post-container::-webkit-scrollbar {
   display: none;
  }
}